.button{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
}

.button:hover{
    background-color: #fff;
    border: 1px solid #000;
    padding: 9px 19px;
    color: #000;
}

.button:disabled{
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
}